<div class="card">
    <div class="card-body">
        <h3 class="text-center">Crie sua conta</h3>
        <form action="" method="post">
            <label for="nome">Nome:</label>
                <input type="text" name="nome" id="" class="form-control">
            <label for="email">Email:</label>
                <input type="email" name="email" id="" class="form-control">
            <label for="senha">Senha:</label>
                <input type="password" name="senha" id="" class="form-control">
            <label for="senha2">Repita a senha:</label>
                <input type="password" name="senha2" id="" class="form-control">
            <a href=""><button type="submit" class="btn btn-success mt-3">Criar conta</button></a>
        </form>
    </div>
</div>